.container-form {
  padding: 20px;
  min-width: 300px;
  max-width: 500px;
}

.login-form {
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;

  button {
    margin: 10px 0px 10px 0px;
    width: 100%;
  }
}

.mat-divider {
  margin-top: 20px;
  margin-bottom: 20px;
}
